<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Microposter Refresher</h1>
    <p>
      Because I haven't done Rails for a year and need to remind myself some things.
    </p>
  </body>
</html>